# Compiled Object files
*.o

# Generated parser files
json_parser.xml
json_parser.cc
json_parser.gv
json_parser.hh
json_parser.html
json_parser.pdf

# Generated parser files
antlr/build/*
antlr/gen/*
bison/final/json
